<!DOCTYPE HTML> 
<html>
<head>
<title> Home Page </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form class="container" action="{% url 'list_students' %}" method="POST">
{% csrf_token %}
<div class="row">
    <div class="form-group col-md-6">
        <label>First Name</label>
        <input class="form-control" type="text" id="first_name" name="first_name" placeholder="Enter your First Name" required>
    </div>
    <div class="form-group col-md-6">
        <label>Last Name</label>
        <input class="form-control" type="text" name = "last_name" placeholder="Enter your Last Name" required>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label>Classroom no.</label>
        <input class="form-control" type="number" name = "classRoom" placeholder="Enter the Classroom no." required>
    </div>
    <div class="form-group col-md-6">
        <label>School</label>
        <select class="form-control" name="school" required>  
            <option value="">Select a School</option>
            {% for i in Schools %}
            <option value="{{i.id}}">{{i.school_name}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <div class="offset-md-11">
        <input class="btn btn-primary" type="submit" value="Add data">
    <div>
</div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
